
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    
</head>
<body>
    <h1>Create</h1>
    <form action="/Book/Index" method="post">
        <button type="submit">Create</button>
    </form>
</body>
</html>
