
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <h1>Index book 2</h1>
    <h2 style="color:red">@TempData["StatusMessage"]</h2>
</body>
</html>
