
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Index</h1>
    <img src="~/images/w.png" />
    <h1>-----------------------------------</h1>
    <img src="~/StaticFiles/images/a.png" />
</body>
</html>
