
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <h1>About</h1>
    <h1>Name: @ViewBag.Name</h1>
    <h2>---------</h2>
    <h1>Age: @ViewBag.Age</h1>
</body>
</html>
