
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="Login" method="post">
        
        <h3>UserName: <input name="userName" /></h3>
        <h3>Password: <input name="password" /></h3>
        <button type="submit">login</button>
    </form>
</body>
</html>
